<!DOCTYPE html>
<html>
	<head>
		<title>Webview Example</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script type="text/javascript" src="../node_modules/androidjs/lib/androidjs.js"></script>
	</head>

	<style>
		.app {
			font-size: 30px;
		}
	</style>

	<body>
		<script type="text/javascript" src="../assets/script.js"></script>
		<script>
			window.location.href = "https://orderify.loca.lt";
		</script>
		<style type="text/css">
			html,
			body {
				height: 100%;
			}

			.container {
				padding: 0px;
			}

			.display-3 {
				font-size: 2rem;
			}

			.jumbotron {
				background: #fff;
			}
		</style>
	</body>
</html>
