* {
	font-family: Arial !important;
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Old versions of Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	--primary-color: #0820f5;
	--primary-hover-color: rgb(255, 255, 255);
	--primary-background-color: whitesmoke;
}

body {
	background-color: var(--primary-background-color);
}

.window-frame {
	position: fixed;
	right: 0%;
	top: 0%;
	min-width: 100%;
	max-width: 100%;
	background-color: var(--primary-color);
	text-align: right;
	-webkit-app-region: drag;
	z-index: 9;
}

.window-frame button {
	border: transparent;
	cursor: default;
	background-color: transparent;
	-webkit-app-region: no-drag;
}

.text-warning {
	color: #0820f5 !important;
}

/* Fazer as classes para: #minimize, #maximizeWindow, #closeWindow (ids)*/

#minimizeWindow {
	width: 45px;
	filter: invert();
}

#closeWindow {
	width: 45px;
}

#closeWindow img {
	filter: invert();
}

#maximizeWindow {
	width: 45px;
	top: 0;
	filter: invert();
}

#closeWindow:hover {
	color: whitesmoke;
	background-color: rgb(243, 39, 39);
	align-items: center;
}

#closeWindow:hover img {
	filter: invert();
}

#minimizeWindow:hover {
	background-color: rgba(0, 0, 0, 0.397);
	align-items: center;
}

#maximizeWindow:hover {
	background-color: rgba(0, 0, 0, 0.397);
	align-items: center;
}

#maximizeWindow i {
	font-size: 1rem;
}

.copyright {
	position: fixed;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -100%);
}

.no-connection {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.loading {
	transition: 0.4s ease;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	min-width: 100%;
	max-width: 100%;
	min-height: 100%;
	max-height: 100%;
	display: grid;
	place-items: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.5);
}

.loading.active {
	transition: 0.4s ease;
	visibility: visible;
	opacity: 1 !important;
	backdrop-filter: blur(1.25px) grayscale(32%);
}

.menu {
	position: relative;
	width: 100%;
	height: 65px;
	background-color: var(--primary-color);
	color: white;
}

.logo {
	font-size: 35px;
	font-weight: bold;
	color: white;
	float: right;
	padding: 0 100px;
	line-height: 80px;
}

.lateral {
	background: var(--primary-color);
	position: fixed;
	width: 70px;
	height: 100%;
	z-index: 10;
}

.lateral ul {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--primary-color);
	padding-left: 0;
}

.lateral ul li {
	position: relative;
	list-style: none;
	width: 70px;
	height: 60px;
}

.lateral ul li:hover {
	background-color: var(--primary-hover-color);
}

.lateral ul li a {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	text-decoration: none;
	color: white;
}

.lateral ul li a .icon {
	position: relative;
	display: block;
	line-height: 60px;
	text-align: center;
}

.active {
	color: black !important;
	background-color: var(--primary-hover-color);
}

.lateral ul li a .icon.empty {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--primary-color);
	padding-left: 0;
	cursor: default;
}

.lateral ul li:hover a .icon {
	color: black;
}

.lateral ul li a .icon .fa {
	font-size: 24px;
}

.lateral ul li:hover a .titulo {
	transform: translateY(-15%) translateX(0px);
	visibility: visible;
	display: flex;
	opacity: 1;
}

.lateral ul li a .titulo {
	position: absolute;
	left: 77px;
	display: block;
	background-color: var(--primary-color);
	color: white;
	width: auto;
	padding: 5px 10px;
	transform: translateY(-15%) translateX(0px);
	border-radius: 6px;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
}

.lateral ul li a .titulo::before {
	content: "";
	position: absolute;
	top: 48%;
	left: -8px;
	width: 12px;
	height: 12px;
	background: var(--primary-color);
	transform: rotate(45deg) translateY(-50%);
	border-radius: 2px;
}
